In [4]:
#load libraries
import pandas as pd #linear algebra
import numpy as np  #data processing, CSV file I/O (e.g. pd.read_cvs)

In [5]:
#Read the file "data.cvs" and print the contents
data = pd.read_csv('data/Machine Learning DATA.csv', index_col = False)

In [6]:
data.head(27)

,Age,sex,edu_years,Rey_CFT_copy_score,Rey_CFT_copy_score.1,K_MMSE_drawing,K_MMSE_drawing_p,CDR,Sum_of_boxes
0,75,0,14.0,17,17,1,2.44≤,1.0,8.0
1,85,1,11.0,18,18,1,7.51≤,1.0,6.0
2,80,0,12.0,19,19,1,5.53≤,0.5,1.5
3,75,0,6.0,20,20,0,<17.46,0.5,2.5
4,73,0,12.0,21,21,1,3.31≤,0.5,2.5
5,63,0,13.0,22,22,1,1.31≤,0.5,1.5
6,82,1,2.0,23,23,1,49.56≤,0.5,1.5
7,77,0,0.5,24,24,0,<42.42,0.5,3.0
8,57,0,16.0,25,25,1,1.15≤,0.5,2.0
9,64,1,16.0,26,26,1,1.31≤,0.5,4.0
10,82,0,4.0,27,27,1,22≤,0.5,3.0
11,90,1,16.0,28,28,0,<4.43,2.0,12.0
12,70,0,6.0,29,29,1,14.15≤,1.0,4.5
13,87,1,13.0,31,31,1,4.43≤,1.0,6.0
14,63,0,9.0,32,32,1,4.42≤,0.5,0.5
15,70,0,6.0,33,33,1,14.15≤,0.5,1.0
16,72,0,5.0,34,34,1,14.15≤,0.5,1.5
17,75,1,16.0,35,35,1,2.44≤,0.5,2.0
18,69,1,16.0,37,37,1,1.56≤,0.5,1.5
19,78,0,4.0,38,38,0,<17.46,0.5,2.0
20,89,1,3.0,39,39,0,<57.66,2.0,11.0
21,62,0,12.0,40,40,1,2.28≤,0.5,1.0
22,81,1,18.0,41,41,1,2.04≤,0.5,1.5
23,72,0,16.0,42,42,1,1.91≤,0.5,2.5
24,70,0,7.0,43,43,1,6.36≤,0.5,1.0
25,83,0,6.0,44,44,1,22≤,0.5,4.0

In [7]:
data.tail(5)

,Age,sex,edu_years,Rey_CFT_copy_score,Rey_CFT_copy_score.1,K_MMSE_drawing,K_MMSE_drawing_p,CDR,Sum_of_boxes
21,62,0,12.0,40,40,1,2.28≤,0.5,1.0
22,81,1,18.0,41,41,1,2.04≤,0.5,1.5
23,72,0,16.0,42,42,1,1.91≤,0.5,2.5
24,70,0,7.0,43,43,1,6.36≤,0.5,1.0
25,83,0,6.0,44,44,1,22≤,0.5,4.0

In [8]:
data.shape

(26, 9)

In [9]:
#Review data types with "info()"
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 9 columns):
Age                     26 non-null int64
sex                     26 non-null int64
edu_years               26 non-null float64
Rey_CFT_copy_score      26 non-null int64
Rey_CFT_copy_score.1    26 non-null int64
K_MMSE_drawing          26 non-null int64
K_MMSE_drawing_p        26 non-null object
CDR                     26 non-null float64
Sum_of_boxes            26 non-null float64
dtypes: float64(3), int64(5), object(1)
memory usage: 1.9+ KB

In [10]:
# Review number of columns of each data type in a DataFrame:
data.get_dtype_counts()

float64    3
int64      5
object     1
dtype: int64

In [11]:
#check for missing variables
data.isnull().any()

Age                     False
sex                     False
edu_years               False
Rey_CFT_copy_score      False
Rey_CFT_copy_score.1    False
K_MMSE_drawing          False
K_MMSE_drawing_p        False
CDR                     False
Sum_of_boxes            False
dtype: bool

In [12]:
data.Age.unique()

array([75, 85, 80, 73, 63, 82, 77, 57, 64, 90, 70, 87, 72, 69, 78, 89, 62,
       81, 83])

In [13]:
#it only fitches unique values from the listed data
data.sex.unique()

array([0, 1])

In [14]:
#save the cleaner version of dataframe for future analyis
data.to_csv('data/Machine Learning DATA.csv')